:host {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 600px;
  height:100%;
  max-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
  align-self: stretch;
  top: 0;
  z-index: 500;
}


#map {
  z-index: 600;
  max-width: 600px;
  height:100%;
  width: 100%;
}

#button-close {
  position: absolute;
  display:block;
  //min-height: 30px;
  //margin: -30px 10px 0 0;
  z-index: 700;
  top: 0;
  text-align: right;
  width: 100%;
}

#button-close:hover {
  cursor:pointer;
}

#button-location {
  z-index: 600;
  position: relative;
  top: -75px;
  margin-bottom: -60px;
  text-align: right;
  align-self: flex-end;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 #C6C6C6;
  padding: 14px;
  right: 15px;
}

#button-location:hover {
  cursor:pointer;
}

#address-box {
  margin: 20px;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  z-index:800;
}

#addr-input-wrapper {
  position: absolute;
  top:45px;
  width:100%;
  z-index: 700;
}

#addr-input {
  margin: 0 30px 0 30px;
  z-index: 700;
  background-color: #FFFFFF;
  border: 1px solid #D5D7D9;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #EBEAE4;
  display: flex;
}

#addr-input-text {
  border: 0;
  margin: 15px;
  flex-grow: 10;
  outline: none;
  color: #000000;
  font-family: MobiliarRealist, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  width: 211px;
  text-align: left;
}

::placeholder {
  color: #C0C3C6;
}

#img-search-addr {
  margin: 10px;
}

.img-addr {
  margin-right: 20px;
  height: 32px;
  width: 32px;
}

#img-location {
  display: block;
}

.button-box {
  display: flex;
  background-color: #FFFFFF;
  border: 2px solid #3F8FAC;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #66B0BD, 1px 1px 2px 0 #C5DDE6;
  margin: 0 20px 20px 20px;
  padding: 3px;
  min-height: 55px;
}

.button-text {
  padding: 10px 15px 10px 0;
  align-self: center;
  word-break: break-word;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.button-text:hover {
  cursor:pointer;
}

.button-text.disabled{
  color: gray;
}

.button-background {
  background-color: #EBF3F6;
  display: flex;
  flex-grow: 1;
}


agm-marker {
  width: 5px;
  height: 5px;
  background: blue;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

#error-box {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: #FFFFFF;
}

#error-img {
  height: 40px;
  width: 40px;
  margin-right: 15px
}

#error-text-box {
  display: flex;
  flex-direction: column;
}

#error-header {
  color: #000000;
  font-family: MobiliarRealist, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  margin-bottom: 10px;
}

#error-text {
  color: #000000;
  font-family: MobiliarRealist, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

#address-line {
  font-weight: bold;
}

#close-img {
  width: 30px;
  height: 30px;
  padding: 5px 10px 0 0;
}
