<!--suppress HtmlFormInputWithoutLabel, HtmlRequiredAltAttribute -->
<div id="addr-input-wrapper">
  <div id="addr-input">
    <input #autocomplete type="text" id="addr-input-text" [placeholder]="'Bitte addresse eingeben ...' | translate">
    <img id="img-search-addr" src="assets/images/search.svg">
  </div>
</div>

<ng-container *ngIf="viewModel$ | async as viewModel">
  <div id="button-close" (click)="closeMapClick()"><img id="close-img" src="assets/images/t@2.svg"/></div>
  <agm-map id="map" [style.height.px]="mapHeight" [latitude]="center.lat" [longitude]="center.lng"
           [zoom]="zoom" (mapClick)="mapClick($event)" [clickableIcons]="false" [streetViewControl]="false"
           [styles]="mapStyles" [zoomControl]="false" [usePanning]="true">

    <ng-container *ngIf="viewModel.displayPosition">
      <agm-marker *ngIf="viewModel.displayPosition.type === 'GEOLOCATION'"
                  [latitude]="viewModel.displayPosition.latLng.lat"
                  [longitude]="viewModel.displayPosition.latLng.lng"
                  iconUrl="assets/images/Dot.svg"></agm-marker>
      <agm-marker *ngIf="viewModel.displayPosition.type === 'SELECTION'"
                  [latitude]="viewModel.displayPosition.latLng.lat"
                  [longitude]="viewModel.displayPosition.latLng.lng"
                  iconUrl="assets/images/Marker.svg"></agm-marker>
    </ng-container>
    <agm-marker *ngIf="viewModel.geolocationPosition && viewModel.displayPosition !== viewModel.geolocationPosition"
                [latitude]="viewModel.geolocationPosition.latLng.lat"
                [longitude]="viewModel.geolocationPosition.latLng.lng"
                iconUrl="assets/images/Dot.svg"></agm-marker>
  </agm-map>
  <div id="button-location" (click)="locateClick()">
    <img id="img-location" alt="" src="assets/images/Location.svg">
  </div>


  <div #footer id="footer" *ngIf="viewModel.showFooter">

    <div id="error-box" *ngIf="!!viewModel.geolocationFailure">
      <img id="error-img" src="assets/images/error@1x.svg"/>
      <div id="error-text-box">
        <div id="error-header">{{ 'txt.geolocate-err-hdr' | translate }}</div>
        <div id="error-text">{{ 'txt.geolocate-err-txt' | translate }}</div>
      </div>
    </div>

    <div id="address-box" *ngIf="!viewModel.geolocationFailure">
      <ng-container *ngIf="viewModel.displayAddress">
        <img class="img-addr" alt="" src="assets/images/Dot.svg"
             *ngIf="viewModel.displayAddress.positionType === 'GEOLOCATION'">
        <img class="img-addr" alt="" src="assets/images/Marker.svg"
             *ngIf="viewModel.displayAddress.positionType === 'SELECTION'">

        <div id="address">
          <div *ngIf="viewModel.displayAddress.positionType === 'GEOLOCATION'"> Aktuelle Position </div>
          <div *ngIf="viewModel.displayAddress.positionType === 'SELECTION'"> Gesetzte Markierung </div>
          <span id="address-line">{{ viewModel.displayAddress.display }}</span>
        </div>
      </ng-container>
    </div>

    <div id="button-submit" class="button-box"
         (click)="viewModel.displayAddress !== null && !viewModel.geolocationFailure && submit()">
      <div class="button-background">
        <div class="button-text" [ngClass]="{'disabled': viewModel.displayAddress === null || !!viewModel.geolocationFailure}"
             [innerHTML]="'Standort übernehmen'">
        </div>
      </div>
    </div>
  </div>
</ng-container>

