.screen {
  margin: 0 auto;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-box {
  display: grid;
  background-color: #FFFFFF;
  border: 2px solid #3F8FAC;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #66B0BD, 1px 1px 2px 0 #C5DDE6;
  margin: 0 20px 10px 20px;
  padding: 3px;
  min-height: 55px;
}

.flex1 {
  flex-basis: 100%;
}

.flex2 {
  flex-basis: 50%;
}

.flex3 {
  flex-basis: 33%;
}

.entry-text {
  padding: 10px 15px 10px 0;
  align-self: center;
  word-break: break-word;
  flex-basis: 100%;
  display: table;
  font-weight: bold;
}

.entry-text:hover {
  cursor:pointer;
}


.entry-background {
  background-color: #EBF3F6;
  display: flex;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.icon {
  vertical-align: middle;
  display: table-cell;
  padding-left: 15px;
}

.icon:hover {
  cursor:pointer;
}

.text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 15px;
}
