
h1 {
  line-height: 32px;
}

body {
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('MobiliarRealistWeb-SemiLight.eot');
  src: url('MobiliarRealistWeb-SemiLight.eot?#iefix') format('embedded-opentype'),
       url('MobiliarRealistWeb-SemiLight.woff') format('woff'),
       url('MobiliarRealistWeb-SemiLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal
}

@font-face {
    font-family: 'Roboto bold';
    src: url('MobiliarRealistWeb-Bold.woff2') format('woff2'), 
	url('MobiliarRealistWeb-Bold.eot') format('embedded-opentype'), 
	url('MobiliarRealistWeb-Bold.woff') format('woff'), 
	url('MobiliarRealistWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
  font-family: 'TisaPro';
  src: url('TisaWebPro.woff2') format('woff2'),
  url('TisaWebPro.woff') format('woff'),
  url('TisaWebPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
